<template>
<div>
  <v-snackbar :timeout="0" :top="true" :right="true" :multi-line="true" v-model="alertState">
    {{message}}
    <v-btn flat v-bind:class="{ 'pink--text': error, 'green--text': success }" @click.native="snackDismiss()">Fermer</v-btn>
  </v-snackbar>
</div>
</template>


<script>
export default {
  name: "alert",
  computed: {
    error() {
      return this.$store.state.global.error;
    },
    success() {
      return this.$store.state.global.success;
    },
    message() {
      return this.$store.state.global.message;
    },
    alertState() {
      return this.$store.state.global.success || this.$store.state.global.error;
    }
  },
  methods: {
    snackDismiss: function() {
      this.$store.dispatch("dismiss");
    }
  }
};
</script>
