<template>
<gmap-map :center="center" :zoom="7" style="width: 100vw; height: 400px">
  <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="false" @click="center=m.position"></gmap-marker>
</gmap-map>
</template>

<script>
function codeAddress() {
  // Define address to center map to
  var address = 'Paris, France';
  geocoder.geocode({
    'address': address
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      // Center map on location
      return results[0].geometry.location
    } else {
      return {
        lat: 10.0,
        lng: 10.0
      }
    }
  });
}

export default {
  name: 'googleMap',
  data() {
    return {
      center: {
        lat: 10.0,
        lng: 10.0
      },
      markers: [{
        position: {
          lat: 10.0,
          lng: 10.0
        }
      }, {
        position: {
          lat: 11.0,
          lng: 11.0
        }
      }]
    }
  }
}
</script>
