<template>
<div>
  <v-navigation-drawer fixed clipped app disable-route-watcher v-model="drawer">
    <v-list dense>
      <template v-for="(item, i) in items">
                  <v-layout
                    row
                    v-if="item.heading"
                    align-center
                    :key="i"
                  >
                    <v-flex xs6>
                      <v-subheader v-if="item.heading">
                        {{ item.heading }}
                      </v-subheader>
                    </v-flex>
                    <v-flex xs6 class="text-xs-center">
                      <a href="#!" class="body-2 black--text">EDIT</a>
                    </v-flex>
                  </v-layout>
                  <v-list-group v-else-if="item.children" v-model="item.model" no-action>
                    <v-list-tile slot="item" @click="">
                      <v-list-tile-action>
                        <v-icon>{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ item.text }}
                        </v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile
                      v-for="(child, i) in item.children"
                      :key="i"
                      @click=""
                    >
                      <v-list-tile-action v-if="child.icon">
                        <v-icon>{{ child.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          {{ child.text }}
                        </v-list-tile-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list-group>
                  <v-list-tile v-else-if="item.requireAuth == currentUser.isConnected" @click="item.logout ? logout() : null " :to="item.url ? item.url : null" replace exact>
                    <v-list-tile-action>
                      <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        {{ item.text }}
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
</template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="primary"
      dark
      app
      clipped-left
      fixed
    >
      <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
        <v-toolbar-side-icon v-if="isLoggedIn" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-xs-only">Safe Trip</span>
      </v-toolbar-title>
      <div class="d-flex align-center" style="margin-left: auto">
        <v-btn to="/" icon large exact>
          <v-icon>home</v-icon>
        </v-btn>
        <v-tooltip bottom>
         <v-btn slot="activator" to='/prevention' icon replace>
           <v-icon>directions_car</v-icon>
         </v-btn>
         <span>Prévention</span>
       </v-tooltip>

       <v-tooltip bottom>
       <v-btn slot="activator" v-if="currentUser.isConnected" to='/dashboard' icon replace>
         <v-icon>dashboard</v-icon>
       </v-btn>
       <span>Dashboard</span>
       </v-tooltip>

        <v-tooltip bottom>
        <v-btn slot="activator" v-if="currentUser.isConnected" @click="logout()" icon>
          <v-icon>power_settings_new</v-icon>
        </v-btn>
        <span>Déconnexion</span>
        </v-tooltip>


        <v-tooltip bottom>
          <v-btn slot="activator" v-bind:class="{ 'btn--active': modalConnection}" v-if="!currentUser.isConnected" @click="modalConnection = !modalConnection" icon>
            <v-icon>fingerprint</v-icon>
          </v-btn>
          <span>Connexion</span>
        </v-tooltip>

         <v-tooltip bottom>
          <v-btn slot="activator" v-bind:class="{ 'btn--active': modalInscription}" v-if="!currentUser.isConnected" @click="modalInscription = !modalInscription" icon>
            <v-icon>library_add</v-icon>
          </v-btn>
          <span>Inscription</span>
        </v-tooltip>
      </div>
    </v-toolbar>

    <!-- Dialogs (connect / inscription) -->
    <v-dialog persistent v-model="modalConnection" max-width="600px">
          <login v-on:closeConnectionModal="modalConnection = !modalConnection"></login>
    </v-dialog>
    <v-dialog persistent v-model="modalInscription" max-width="600px">
          <register v-on:closeInscriptionModal="modalInscription = !modalInscription"></register>
    </v-dialog>
</div>
</template>

<script>
import Login from "../authentification/login";
import Register from "../authentification/register.vue";

export default {
  data: () => ({
    drawer: false,
    modalConnection: false,
    modalInscription: false,
    inscription: false,
    items: [{
        icon: "dashboard",
        text: "Dashboard",
        url: "/dashboard",
        requireAuth: true
      },
      {
        icon: "event",
        text: "Évenements",
        url: "/evenements",
        requireAuth: true
      },
      {
        icon: "directions_car",
        text: "Prévention",
        url: "/prevention",
        requireAuth: true
      }
    ]
  }),
  methods: {
    logout: function() {
      // logout depuis le store, qui se charge d'enlever le storage
      this.$store.dispatch('logout');
      this.$router.replace('/')
    }
  },
  props: {},
  computed: {
    currentUser: {
      get() {
        return this.$store.getters.currentUser;
      }
    },
    isLoggedIn: function() {
      return this.$store.getters.isConnected;
    }
  },
  components: {
    Login,
    Register
  }
};
</script>
