/* GLOBAL FIX */

html {
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  width: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
}

.main-content {
  min-height: 100vh;
}

.parallax__content {
  background-color: rgba(0, 0, 15, 0.4);
}

.line-through {
  text-decoration: line-through !important;
  transition: all 0.2s ease-in;
}

h3.headline {
  font-weight: 500 !important;
  letter-spacing: -0.8px !important;
}

.new-item-card {
  opacity: 0.3 !important;
  transition: all 0.2s ease-in;
}

.new-item-card:hover {
  opacity: 0.7 !important;
}

/* TASKBOARD */

.taskboard--container {
  padding: 10px 10px;
}

#taskboard {
  position: absolute;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.taskboard--column {
  height: 80vh;
  overflow-y: scroll;
  width: 270px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 15px !important;
  margin-bottom: 15px !important;
  flex: 0 0 auto;
  padding: 10px 10px;
}

.taskboard--column.new {
  background-color: rgba(0, 0, 0, 0.05);
}

.taskboard--column-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  margin-bottom: 15px;
}

.taskboard--spacer {
  width: 10px;
  height: 10px;
  background: transparent;
  flex: 0 0 auto;
}

.taskboard--column-new-task {
  opacity: 0.2;
  transition: all 0.2s ease-in;
}

.taskboard--column-new-task:hover {
  opacity: 1;
}

.taskboard--task {
  margin-bottom: 5px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}

/* END TASKBOARD */

/* ANIMATIONS & TRANSITIONS */

.fadeAway-enter {
  opacity: 0;
  transform: translateX(50px);
}

.fadeAway-enter-to, .fadeAway-leave {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.33s ease-in-out 0.35s;
}

.fadeAway-leave-to {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.35s ease-in-out 0s;
}

#tableauNotes .card {
  animation: scaleUp 0.3s ease-in-out 0s 1 alternate !important;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}