<template>
<div>
  <v-layout>
    <v-flex xs12 sm6 v-for="(book, index) in books" :key="index">
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Livre</h3>
            <div>{{book.title}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn flat :to="'/book/1'" color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: 'books',
  computed: {
    books: function() {
      return this.$store.getters.getBooks
    }
  },
  created: function() {
    Http.get('books/').then(res => {
      this.$store.dispatch('setBooks', res.data);
    });
  }
}
</script>
