<template>
<div>
  <v-layout>
    <v-flex xs12 sm6>
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Livre</h3>
            <div>{{book.title}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: 'books',
  data: () => ({
    book: {
      title: ''
    }
  }),
  created: function() {
    return Http.get('/books/' + this.$route.params.id).then(res => {
      console.log(res);
      this.book = res.data;
    })
  }
}
</script>
