<template>
<v-card>
  <v-card-title>
    <h3 class="primary--text">Nouvel évenement</h3>
  </v-card-title>
  <div>
    <img src="../../../static/images/nouvel_evenement.png" alt="Connection" style="max-width:35%;height:auto;margin:auto;display:block">
  </div>
  <v-card-text>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="name" label="Nom de l'évènement" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="lieu" label="Lieu" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="site_web" label="Lieu" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="description" label="Description" multi-line></v-text-field>
        </v-flex>
        <v-flex xs2 offset-xs5>
          <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary darken-1" flat @click.native="dismiss()">Fermer</v-btn>
    <v-btn @click.native="create()" color="primary">Créer</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: "event-modal",
  data: function() {
    return {
      name: "",
      lieu: "",
      description: "",
      site_web: ""
    }
  },
  methods: {
    create: function() {
      this.$store.dispatch("load", true);
      Http.post('evenements', {
        name: this.name,
        lieu: this.lieu,
        description: this.description,
        site_web: this.site_web
      }).then(res => {
        this.$store.dispatch("enterSuccess", {
          message: "L'évenement a bien été ajouté !"
        })
      }, err => {
        this.$store.dispatch("enterError", {
          message: "Erreur lors de l'ajout de l'évenement !"
        })
      })
    },
    dismiss: function() {
      this.$emit("closeEventModal");
    }
  },
  computed: {
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    }
  },
  props: ["newEvent"]
};
</script>
