<template>
<div>
  <v-layout row>
    <v-flex xs10 offset-xs1>
      <v-card>
        <v-card-media class="white--text" height="200px" src="https://source.unsplash.com/800x200/?friends,happy">
          <v-container fill-height fluid>
            <v-layout fill-height>
              <v-flex xs12 align-end flexbox>
                <span class="headline">{{evenement.name}}</span>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-media>
        <v-card-title>
          <div>
            <span class="grey--text">{{evenement.lieu}}</span><br>
            <span>{{evenement.description}}</span>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn flat :to="evenement.site_web" color="primary">Site Web</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon @click.native="showTrajet = !showTrajet">
            <v-icon>{{ showTrajet ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
          </v-btn>
        </v-card-actions>
        <v-flex xs2 offset-xs5>
          <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
        <v-slide-y-transition>
          <v-card-text v-show="showTrajet">
            <v-container grid-list-md>
              <v-layout row wrap>
                <v-flex xs12 md6 v-for="trajet in evenement.trajets" :key="trajet.pk">
                  <v-card>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0">{{trajet.createur.first_name}} {{trajet.createur.last_name}}</h3>
                        <v-icon large color="primary">directions_car</v-icon>
                        <span class="grey--text">{{trajet.nb_places}} Places</span><br>
                      </div>
                    </v-card-title>
                    <v-card-actions v-if="currentUser.isConnected && currentUser.id != trajet.createur.id">
                      <v-btn flat color="secondary" @click="rejoindre(trajet.id)">Rejoindre</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-flex>
  </v-layout>
  <v-btn fab bottom left color="secondary" dark fixed @click="goBack()">
    <v-icon>keyboard_arrow_left</v-icon>
  </v-btn>
  <v-btn fab bottom right color="primary" fixed @click="newTrajet = !newTrajet">
    <v-icon>add</v-icon>
  </v-btn>
  <v-dialog persistent v-model="newTrajet" max-width="700px">
    <trajet-modal v-on:closeTrajetModal="newTrajet = !newTrajet"></trajet-modal>
  </v-dialog>
</div>
</template>

<script>
import trajetModal from './trajetModal'
import Http from '../../../config/http-common'

export default {
  name: 'evenement',
  data: () => ({
    showTrajet: true,
    newTrajet: false
  }),
  computed: {
    evenement: function() {
      return this.$store.getters.getEventById(this.$route.params.id)
    },
    currentUser: function() {
      return this.$store.getters.currentUser
    },
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    }
  },
  created: function() {
    // on recupère l'évenement
    Http.get('evenements').then(res => {
      this.$store.dispatch('setEvenements', res.data);
    })
  },
  methods: {
    goBack: function() {
      this.$router.go(-1);
    },
    rejoindre: function(id) {
      this.$store.dispatch('load', true);
      console.log(this.currentUser)
      Http.post('create_reservation', {
        user_id: this.currentUser.id,
        trajet_id: id
      }).then(res => {
        this.$store.dispatch('enterSuccess', {
          message: "Vous êtes bien inscrit sur le trajet!"
        });
        Http.get('evenements').then(res => {
          this.$store.dispatch('setEvenements', res.data);
        });
      }, err => {
        this.$store.dispatch('enterError', {
          message: "Erreur lors de l'inscription"
        })
      })
    }
  },
  components: {
    'trajet-modal': trajetModal
  }
}
</script>
