<template>
<div>
  <v-container grid-list-xs fluid>
    <v-layout row wrap>
      <v-flex xs8 offset-xs2>
        <v-card class="card--flex-toolbar ">
          <v-toolbar card color="white" prominent>
            <v-toolbar-title class="body-2 grey--text">Évenements</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field label="Rechercher une ville" prepend-icon="search" solo append-icon="cancel" hide-details single-line clearable></v-text-field>
            <v-btn icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
          </v-toolbar>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <google-map></google-map>
      </v-flex>
      <v-flex xs10 offset-xs1>
        <v-card>
          <v-card-text>
            <v-layout>
              <v-flex xs10 sm5 offset-sm1 v-for="evenement in evenements" :key="evenement.pk">
                <v-card>
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">{{evenement.name}}</h3>
                      <div>{{evenement.description}}</div> <br>
                      <div>Localisation : {{evenement.lieu}}</div>
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat :to="'/evenement/'+evenement.pk" color="primary">Voir</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
  <v-btn fab bottom right color="primary" fixed @click="newEvent = !newEvent">
    <v-icon>add</v-icon>
  </v-btn>
  <v-btn fab bottom left color="secondary" dark fixed @click="goBack()">
    <v-icon>keyboard_arrow_left</v-icon>
  </v-btn>
  <v-dialog persistent v-model="newEvent" max-width="700px">
    <event-modal v-on:closeEventModal="newEvent = !newEvent"></event-modal>
  </v-dialog>
</div>
</template>

<script>
import eventModal from "./eventModal";
import Http from '../../../config/http-common'
import googleMap from '../shared/french-map'

export default {
  name: 'evenements',
  data: function() {
    return {
      newEvent: false
    }
  },
  computed: {
    evenements: function() {
      return this.$store.getters.getEvents
    }
  },
  created: function() {
    Http.get('evenements').then(res => {
      this.$store.dispatch('setEvenements', res.data);
    });
  },
  components: {
    'google-map': googleMap,
    'event-modal': eventModal
  },
  methods: {
    goBack: function() {
      this.$router.go(-1);
    }
  }
}
</script>
