<template>
<v-card>
  <v-card-title>
    <h3 class="primary--text">Nouveau trajet</h3>
  </v-card-title>
  <div>
    <img src="../../../static/images/nouveau_trajet.png" alt="Connection" style="max-width:35%;height:auto;margin:auto;display:block">
  </div>
  <v-card-text>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="nb_places" label="Nombre de places" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="lieu_arrive" label="Lieu d'arrivé" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-dialog persistent v-model="modalTime" lazy full-width width="290px">
            <v-text-field slot="activator" label="Heure de départ" v-model="time" prepend-icon="access_time" readonly></v-text-field>
            <v-time-picker v-model="time" actions>
              <template slot-scope="{ save, cancel }">
            <v-card-actions>
              <v-btn flat color="primary" @click="cancel">Annuler</v-btn>
              <v-btn flat color="primary" @click="save">Ok</v-btn>
            </v-card-actions>
          </template>
            </v-time-picker>
          </v-dialog>
        </v-flex>
        <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary darken-1" flat @click.native="dismiss()">Fermer</v-btn>
    <v-btn @click.native="create()" color="primary">Créer</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: "event-trajet",
  data: function() {
    return {
      lieu_arrive: "",
      nb_places: "",
      time: "",
      modalTime: false
    }
  },
  methods: {
    create: function() {
      console.log(this.currentUser);
      this.$store.dispatch("load", true);
      Http.post('create_trajet', {
        nb_places: this.nb_places,
        lieu_arrive: this.lieu_arrive,
        heure_depart: this.time,
        createur_id: this.currentUser.id,
        evenement_id: this.$route.params.id
      }).then(res => {
        this.$store.dispatch("enterSuccess", {
          message: "Le trajet a bien été ajouté !"
        });
        Http.get('evenements').then(res => {
          this.$store.dispatch('setEvenements', res.data);
        });
      }, err => {
        this.$store.dispatch("enterError", {
          message: "Erreur lors de l'ajout du trajet !"
        })
      });
      this.$emit("closeTrajetModal");
    },
    dismiss: function() {
      this.$emit("closeTrajetModal");
    }
  },
  computed: {
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    },
    currentUser: function() {
      return this.$store.getters.currentUser
    }
  },
  props: ["newTrajet"]
};
</script>
