<template>
<div class="fullscreen">

  <script id="1" type="x-template" src="../../static/neuralNet/p5.js"></script>
  <script id="2" type="x-template" src="../../static/neuralNet/biais.js"></script>
  <script id="3" type="x-template" src="../../static/neuralNet/neural.js"></script>
  <script id="4" type="x-template" src="../../static/neuralNet/game.js"></script>
</div>
</template>

<script>
export default {
  name: 'name'
}
</script>

<style scoped>
.fullscreen {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(31, 31, 41, 0.9);
  background-image: url('../../static/images/404.png')
}
</style>
