<template>
<v-card>
  <v-card-title>
    <h3 class="primary--text">Nouvel avis</h3>
  </v-card-title>
  <div>
    <img src="../../static/images/nouvel_evenement.png" alt="Connection" style="max-width:35%;height:auto;margin:auto;display:block">
  </div>
  <v-card-text>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="description" label="Donnez votre avis" multi-line></v-text-field>
        </v-flex>
        <v-flex xs2 offset-xs5>
          <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary darken-1" flat @click.native="dismiss()">Fermer</v-btn>
    <v-btn @click.native="create()" color="primary">Créer</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
import Http from '../../config/http-common'

export default {
  name: "avis-modal",
  data: function() {
    return {
      reservations: {},
      description: ""
    }
  },
  methods: {
    create: function() {
      this.$store.dispatch("load", true);
      Http.put('trajet/' + this.reservation.trajet.id, {
        avis: this.description
      }).then(res => {
        this.$store.dispatch("enterSuccess", {
          message: "L'avis a bien été ajouté !"
        })
      }, err => {
        this.$store.dispatch("enterError", {
          message: "Erreur lors de l'ajout de l'avis !"
        })
      })
    },
    dismiss: function() {
      console.log(this.reservation)
      this.$emit("closeAvisModal");
    }
  },
  computed: {
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    }
  },
  props: ["newAvis", "reservation"]
};
</script>
