<template>
<div>
  <v-layout>
    <v-flex xs12 sm6>
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">Card</h3>
          </div>
        </v-card-title>
        <v-card-text>Texte de card</v-card-text>
        <v-card-actions>
          <v-btn flat :to="'/book/1'" color="primary">Share</v-btn>
          <v-btn flat color="primary">Explore</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: 'name',
  computed: {
    variables: function() {
      return this.$store.getters.getBooks
    }
  },
  created: function() {
    Http.get('books/').then(res => {
      this.$store.dispatch('setBooks', res.data);
    });
  }
}
</script>
