<template>
<div>
  <v-container grid-list-md>
    <v-layout>
      <v-flex xs4>
        <v-card>
          <v-card-media src="http://i.pravatar.cc/600" height="200px">
          </v-card-media>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{currentUser.first_name | capitalize}} {{currentUser.last_name | capitalize}}</h3>
              <div>Points : {{currentUser.points}}</div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs8>
        <v-card>
          <v-card-title primary-title>
            <div class="headline">Badges</div>
            <div>
              <v-layout>
                <v-flex xs2 offset-xs1 text-xs-center>
                  <img src="../../static/images/niveau1.png" style="width:100%">
                  <span>Coureur</span>
                </v-flex>
                <v-flex xs2 text-xs-center v-bind:class="{ 'badge-shadow': currentUser.points < 100  }">
                  <img src="../../static/images/niveau2.png" style="width:100%">
                  <span>Tricycle</span>
                </v-flex>
                <v-flex xs2 text-xs-center v-bind:class="{ 'badge-shadow': currentUser.points < 200 }">
                  <img src="../../static/images/niveau3.png" style="width:100%">
                  <span>Cyclomoteur</span>
                </v-flex>
                <v-flex xs2 text-xs-center v-bind:class="{ 'badge-shadow': currentUser.points < 500 }">
                  <img src="../../static/images/niveau4.png" style="width:100%">
                  <span>Chauffeur</span>
                </v-flex>
                <v-flex xs2 text-xs-center v-bind:class="{ 'badge-shadow': currentUser.points < 1000 }">
                  <img src="../../static/images/niveau5.png" style="width:100%">
                  <span>Pilote</span>
                </v-flex>
              </v-layout>
            </div>
          </v-card-title>
        </v-card>
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Mes réservations</h3>
              </div>
            </v-card-title>
            <div>
              <v-layout>
                <v-flex xs12 v-for="reser in currentUser.reservations" :key="reser.id">
                  <v-card>
                    <v-card-title primary-title>
                      <div>
                        <div>{{reser.trajet.evenement.name}} {{reser.trajet.lieu_arrive}}</div>
                      </div>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn flat @click.native="putAvis(reser)" color="primary">Mettre un avis</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </div>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Mes trajets</h3>
              </div>
            </v-card-title>
            <div>
              <v-layout>
                <v-flex xs12 md6 v-for="trajet in currentUser.trajets" :key="trajet.id">
                  <v-card>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0">{{trajet.evenement.name | capitalize}}</h3>
                        <div>{{trajet.nb_places}} Place(s)</div>
                      </div>
                    </v-card-title>
                    <div>
                      <span v-for="(avis,index) in trajet.avis" :key="index">
                        {{avis}}
                      </span>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
            </div>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
  <v-dialog persistent v-model="newAvis" max-width="700px">
    <avis-modal :reservation="reservation" v-on:closeAvisModal="newAvis = !newAvis">
    </avis-modal>
  </v-dialog>
</div>
</template>

<script>
import Http from '../../config/http-common'
import avisModal from './avisModal'

export default {
  name: 'dashboard',
  data: () => {
    return {
      newAvis: false,
      reservation: {},
      show: {}
    }
  },
  computed: {
    currentUser: function() {
      console.log(this.$store.getters.currentUser)
      return this.$store.getters.currentUser
    }
  },
  methods: {
    putAvis: function(reser) {
      this.newAvis = !this.newAvis;
      this.reservation = reser;
    }
  },
  created: function() {
    Http.get('profil/' + this.$store.getters.currentUser.id).then(res => {
      this.$store.dispatch("setUser", res.data)
    })
  },
  filters: {
    capitalize: function(value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  components: {
    'avis-modal': avisModal
  }
}
</script>
<style scoped>
.badge-shadow {
  opacity: 0.2;
}
</style>
