<template>
<div>
  <section style="background-color:rgba(0,0,0,0.4)">
    <v-parallax src="../../static/images/hero_bg_min.jpg" height="600">
      <v-layout column align-center justify-center>
        <img src="../../static/images/logo_homepage.png" alt="Vuetify.js" height="200">
        <h1 class="white--text mb-2 display-1 text-xs-center">SAFETRIP</h1>
        <div class="subheading mb-3 text-xs-center">Rentrez entre de bonnes mains</div>
        <v-btn class="primary" dark large to="/prevention">
          Commencer
        </v-btn>
      </v-layout>
    </v-parallax>
  </section>

  <section class="secondary white--text">
    <v-container>
      <v-layout column wrap class="my-5" align-center>
        <div class="text-xs-center mb-3">
          <h1>UNE SOLUTION POUR VOUS !</h1>
        </div>

        <v-carousel hide-delimiters class="elevation-0" style="height:350px;">
          <v-carousel-item v-for="(item,i) in items" :key="i">
            <v-container fluid class="px-5">
              <v-layout row class="px-5">
                <img style="margin:auto;" v-bind:src="item.src" alt="Safe Trip" height="200">
                <v-layout column>
                  <v-card-title primary-title>
                    <div class="headline" style="text-transform:uppercase;">Rentrez en toute sécurité ! </div>
                  </v-card-title>
                  <v-card-text class="pt-0">
                    <p>{{ item.text }}</p>
                  </v-card-text>
                </v-layout>
              </v-layout>
            </v-container>
          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-container>
  </section>

  <section>
    <v-parallax src="../../static/images/third_img2.jpg" height="400">
      <v-layout column align-center justify-center>
        <div class="white--text mb-3 text-xs-center">
          <h1>Vous recherchez un évènement ?</h1>
        </div>
        <p class="mb-3">Faites-vous rammenez ou rammenez des gens</p>
        <v-btn class="primary" dark large to="/">Trouver</v-btn>
      </v-layout>
    </v-parallax>
  </section>
  <section>
    <v-layout column wrap class="my-5" align-center>
      <div class="text-xs-center mb-3">
        <h1>PREVENEZ AVANT DE GUERIR !</h1>
      </div>
      <v-flex xs12>
        <v-container fluid>
          <v-layout row wrap align-center class="mx-3">
            <v-flex xs12 md3 class="px-3" v-for="(post,i) in posts" :key="i">
              <v-card class="elevation-0 transparent text-xs-center">
                <v-card-text class="text-xs-center">
                  <div class="scale_img" style="overflow:hidden;">
                    <img v-bind:src="post.img" alt="" height="100%" width="100%">
                  </div>
                </v-card-text>
                <v-card-text>{{ post.text }}
                </v-card-text>
                <v-btn outline color="primary" dark large to="/">
                  En savoir plus
                </v-btn>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </section>

  <section>
    <v-parallax src="../../static/images/four_img5.jpg" heighsrc="https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/lists/1.jpg" t="450">
      <v-container class="mt-5">
        <v-layout row wrap align-center>
          <v-flex xs12 md4 class="px-5 ">
            <div class="text-xs-center">
              <v-avatar size="125px">
                <img class="img-circle elevation-7 mb-5" src="../../static/images/consumer1.jpg">
              </v-avatar>
              <h2 class="mb-2">Quentin</h2>
              <em class="text-xs-center">"Prudent, confiant, intéressant, charmant (et toutes ses dents), je recommande Quentin chaleureusement ! 🙂"</em>
            </div>
          </v-flex>
          <v-flex xs12 md4 class="px-5">
            <div class="text-xs-center">
              <v-avatar size="125px">
                <img class="img-circle elevation-7 mb-5" src="../../static/images/consumer2.jpg">
              </v-avatar>
              <h2 class="mb-2">Arthur</h2>
              <em class="text-xs-center">"Très bon voyage. Je n'ai pas vu le temps passé malgré les embouteillages.... Arthur est très sympa. Je recommande vivement."</em>
            </div>
          </v-flex>
          <v-flex xs12 md4 class="px-5">
            <div class="text-xs-center">
              <v-avatar size="125px">
                <img class="img-circle elevation-7 mb-5" src="../../static/images/consumer3.jpg">
              </v-avatar>
              <h2 class="mb-2">Marc</h2>
              <em class="text-xs-center">"Excellent trajet en compagnie de Marc ! C'est un covoitureur très sympathique, le trajet était remplit de conversations intéressantes !"</em>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-parallax>
  </section>

  <section>
    <v-container grid-list-xl>

      <prevention></prevention>
      <v-layout row wrap justify-center class="my-2">
        <v-flex xs12 sm4>
          <v-card class="elevation-0 transparent">
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">Club Sandwich</div>
            </v-card-title>
            <v-card-text>
              Bienvenue, vous venez de découvrir une création réalisée par le Club Sandwich durant la nuit de l'info. Durant 15 heures, nous nous sommes attelés à cette création ainsi qu'à la réalisation de défis annexes.
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 sm4 offset-sm1>
          <v-card class="elevation-0 transparent">
            <v-card-title primary-title class="layout justify-center">
              <div class="headline">Nous contacter</div>
            </v-card-title>
            <v-card-text>
              Vous pouvez nous contacter par le biais de ces trois canaux :
            </v-card-text>
            <v-list class="transparent">
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="primary--text">phone</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>06 43 87 39 58</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="primary--text">place</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>Rue Firmin Oulès, Castres</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action>
                  <v-icon class="primary--text">email</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>contact@horus-hcs.com</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <img src="../../static/images/footer.png" alt="" width="100%" style="vertical-align:bottom;margin-bottom:-10px;">
  </section>



</div>
</template>


<script>
import Http from '../../config/http-common'

export default {
  name: "index",
  data() {
    return {
      items: [{
          src: '../../static/images/security.png',
          text: "Utiliser SafeTrip c’est s’assurer de rentrer sain et sauf après vos soirées un peu arrosées. "
        },
        {
          src: '../../static/images/security.png',
          text: 'Pourquoi ne pas découvrir des gens qui partagent vos goûts musicaux au retour d’un festival ?'
        },
        {
          src: '../../static/images/security.png',
          text: "Ramener des utilisateurs qui ont bu, c’est rentrer dans une démarche de protection de son prochain."
        },
      ],
      posts: [{
          img: '../../static/images/vitesse.png',
          text: "La vitesse n'est pas la solution. Quelques secondes tu gagneras, la vie tu perdras !"
        },
        {
          img: '../../static/images/accident.png',
          text: 'Pilote tu te crois ! Au tas tu finieras !'
        },
        {
          img: '../../static/images/alcool.png',
          text: "Toute vodka, tequilla, manzana, tu n'imposeras pas aux autres."
        },
        {
          img: '../../static/images/stup.png',
          text: "Prohibé, la drogue n'est pas tolérée. Des vies, tu mets en grand danger !"
        }
      ]
    }
  },
  created: function() {
    this.$store.dispatch("setToken")
  }

};
</script>

<style>
p {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

.line {
  height: 1px;
  width: 70%;
  background-color: black;
}

.scale_img :hover {
  animation: scal 100ms ease-in-out;
  transform: scale(1.2);
}

@keyframes scal {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
</style>
