<template>
<main>

  <v-parallax src="/static/images/police.jpg">
    <div class="layout column align-center justify-center">
      <img src="/static/img/logo_homepage.690cf97.png" alt="Vuetify.js" height="200">
      <h1 class="white--text mb-2 display-1 text-xs-center">PREVENTION</h1>
      <div class="subheading mb-3 text-xs-center">Sortir c'est bien. Rentrer entier c'est mieux.</div>
    </div>
  </v-parallax>
  <section>
    <v-container fluid>

      <v-layout row wrap>
        <v-flex xs12 md6 class="px-5 py-5">
          <v-card>
            <v-card-text>
              <img src="/static/images/acc.png" width="100%">
            </v-card-text>
            <v-card-title primary-title>
              <div>

                <div class="headline">LES 18-24 ANS, PREMIERES VICTIMES DE LA ROUTE</div>
                <span class="grey--text">CHAQUE ANNEE, NBRE JEUNES MEURENT SUR LA ROUTE !  </span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange" @click.native="show = !show">COURAGE, CLIQUE ICI</v-btn>
              <v-spacer></v-spacer>

              </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card v-show="show" class="grey lighten-3">
                <v-flex xs12>
                  <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                      <v-flex xs12 md4>

                        <v-card class="elevation-0">
                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline">MORTEL</div>
                          </v-card-title>
                          <chart :chart-data="datachartaccidents1"></chart>
                          <v-card-text>Les jeunes âgés de 18 à 24 ans représentent <b>17% des personnes tuées</b> et près de <b>19% des blessés hospitalisés.</b></v-card-text>

                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">
                          <v-card-title primary-title class="layout justify-center">

                            <div class="headline">DANGER</div>
                          </v-card-title>
                          <chart :chart-data="datachartaccidents2"></chart>
                          <v-card-text>La première cause de décès chez les jeunes aujourd'hui est la route. 66% des décès chez les jeunes l'an dernier sont arrivés sur la route.</v-card-text>

                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>

                        <v-card class="elevation-0">
                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">NOCTURNE</div>
                          </v-card-title>
                          <chart :chart-data="datachartaccidents3"></chart>
                          <v-card-text>La nuit est le moment le plus mortel chez les jeunes. 57% des accidents mortels surviennent durant la nuit.</v-card-text>

                        </v-card>

                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-card>
            </v-slide-y-transition>
          </v-card>
          </v-card>
        </v-flex>
        <!-- Section Stupefiants -->
        <v-flex xs12 md6 class="px-5 py-5">
          <v-card>

            <v-card-text>
              <img src="/static/images/drogue.png" width="100%">
            </v-card-text>
            <v-card-title primary-title>
              <div>

                <div class="headline">STUPEFIANTS</div>
                <span class="grey--text">UN PETIT SANDWICH AVANT DE PRENDRE LA ROUTE ?</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange" @click.native="show2 = !show2">SEND NUDES ? CLICK HERE</v-btn>

              <v-spacer></v-spacer>


              </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card v-show="show2" class="grey lighten-3">
                <v-flex xs12>
                  <v-container grid-list-xl>
                    <v-layout row wrap align-center>

                      <v-flex xs12 md4>
                        <v-card class="elevation-0">

                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">RESPONSABILITE</div>
                          </v-card-title>
                          <chart :chart-data="datachartstupefiants1"></chart>
                          <v-card-text>23% des responsables d'accidents sont " high " !</v-card-text>

                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">

                          <v-card-title primary-title class="layout justify-center">

                            <div class="headline">RISQUE D'ACCIDENT</div>
                          </v-card-title>
                          <chart :chart-data="datachartstupefiants2"></chart>
                          <v-card-text>Quand t'es défoncé t'as <b>deux fois plus de chances de foncer dans le faussé.</b></v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">

                          <v-card-title primary-title class="layout justify-center">
                            <h1 class="mb-2 display-1 text-xs-center"><b>ALCOOL + STUPEFIANT = COKTAIL MORTEL</b></h1>
                          </v-card-title>

                          <v-card-text>Les chances de provoquer un accident sont multipliées par <b>14. Oui, 14 !</b></v-card-text>

                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-card>
            </v-slide-y-transition>
          </v-card>
          </v-card>
        </v-flex>
      </v-layout>





      <!-- Section alcool -->

      <v-layout row wrap>
        <v-flex xs12 md6 class="px-5 py-5">
          <v-card>

            <v-card-text>
              <img src="/static/images/alcool.png" width="100%">
            </v-card-text>
            <v-card-title primary-title>
              <div>

                <div class="headline">L'ALCOOL</div>
                <span class="grey--text">PARCE QUE L'ALCOOL C'EST DE L'EAU ?</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange" @click.native="show3 = !show3">ALLEZ, VIENS VOIRE UN PETIT COUP !</v-btn>


              <v-spacer></v-spacer>


              </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card v-show="show3" class="grey lighten-3">
                <v-flex xs12>
                  <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                      <v-flex xs12 md4>

                        <v-card class="elevation-0 ">

                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">MORT AU TOURNANT</div>
                          </v-card-title>
                          <chart :chart-data="datachartalcool1"></chart>
                          <v-card-text><b>1/3 des accidents mortels</b> sont dus à l'alcool. <b>SOIT 33%.</b></v-card-text>
                        </v-card>


                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">

                          <v-card-title primary-title class="layout justify-center">

                            <div class="headline text-xs-center">JEUNESSE MORTELLE</div>
                          </v-card-title>
                          <chart :chart-data="datachartalcool2"></chart>
                        </v-card>
                        <v-card-text><b>1/4 des tués</b> sur la route ont entre <b>18 et 24 ans</b>.</v-card-text>
                      </v-flex>
                      <v-flex xs12 md4>
                        <v-card class="elevation-0 transparent">
                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">
                              <h1>ALCOOL + VOLANT = DUO PERDANT</h1></div>
                          </v-card-title>
                          <v-card-text>L'alcool multiplie par 8 les chances de provoquer un accident.</v-card-text>



                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-card>
            </v-slide-y-transition>
          </v-card>
          </v-card>
        </v-flex>
        <!-- Section vitesse -->
        <v-flex xs12 md6 class="px-5 py-5">
          <v-card>

            <v-card-text>
              <img src="/static/images/cond.png" width="100%">
            </v-card-text>
            <v-card-title primary-title>
              <div>

                <div class="headline">VITESSE</div>
                <span class="grey--text">PARCE QUE T'AIMES L'ADRÉNALINE ! 2 FAST 2 FURIOUS !</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange" @click.native="show4 = !show4">CLIQUE ICI, VIN DIESEL SERA FIER !</v-btn>


              <v-spacer></v-spacer>
              </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card v-show="show4" class="grey lighten-3">
                <v-flex xs12>
                  <v-container grid-list-xl>
                    <v-layout row wrap align-center>
                      <v-flex xs12 md6>
                        <v-card class="elevation-0 transparent">

                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline">JE VAIS VITE MAIS JE FREINE</div>
                          </v-card-title>
                          <chart :chart-data="datachartvitesse1"></chart>
                          <v-card-text>N'aie pas peur de la vitesse quand c'est moi le conducteur <i>Booba, Paradis</i>.<br><b> Oui mais 26% des accidents mortels</b> sont causés par la vitesse.</v-card-text>
                        </v-card>

                      </v-flex>
                      <v-flex xs12 md6>
                        <v-card class="elevation-0">
                          <v-card-title primary-title class="layout justify-center">
                            <div class="headline text-xs-center">LA FRANCE PILOTE</div>
                          </v-card-title>
                          <chart :chart-data="datachartvitesse2"></chart>
                          <v-card-text>28,8% des francais avouent ne pas respecter les limitations de vitesse.</v-card-text>
                        </v-card>


                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-flex>
              </v-card>
            </v-slide-y-transition>
          </v-card>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </section>



  <!-- Section accidents -->

</main>
</template>
https://stackoverflow.com/questions/45176720/vue-chart-js-data-available-as-computed-properties-but-not-showing-in-chart
<script>
import Http from '../../config/http-common'
import chart from './charts/chart.js'





export default {
  name: 'prevention',
  components: {
    chart

  },

  data() {
    return {
      datachartaccidents1: null,
      datachartaccidents2: null,
      datachartaccidents3: null,
      datachartstupefiants1: null,
      datachartstupefiants2: null,
      datachartstupefiants3: null,
      show: false,
      show2: false,
      show3: false,
      show4: false,
      datachartalcool1: null,
      datachartalcool2: null,
      datachartalcool3: null,
      datachartvitesse1: null,
      datachartvitesse2: null,
      datachartalvitesse3: null,
      windowSize: {
        x: 0,
        y: 0
      }

    }
  },
  mounted() {
    this.fillDataChartAccidents1(),
      this.fillDataChartAccidents2(),
      this.fillDataChartAccidents3(),
      this.fillDataChartStupefiants1(),
      this.fillDataChartStupefiants2(),
      this.fillDataChartStupefiants3(),
      this.fillDataChartAlcool1(),
      this.fillDataChartAlcool2(),
      this.fillDataChartAlcool3(),
      this.fillDataChartVitesse1(),
      this.fillDataChartVitesse2(),
      this.filldataVitesse3(),
      this.onResize()
  },
  methods: {
    fillDataChartAccidents1() {
      this.datachartaccidents1 = {
        labels: ['Les 18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24',
            backgroundColor: ['#27ae60', '#EEEEEE'],
            borderColor: '#EEEEEE',
            data: [17, 83]
          }

        ]
      }
    },
    fillDataChartAccidents2() {
      this.datachartaccidents2 = {
        labels: ['Les 18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24',
            backgroundColor: ['#27ae60', '#EEEEEE'],
            borderColor: '#EEEEEE',
            data: [66, 34]
          },

        ]
      }
    },
    fillDataChartAccidents3() {
      this.datachartaccidents3 = {
        labels: ['18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#27ae60', '#EEEEEE'],
            data: [57, 43]
          },

        ]
      }
    },
    fillDataChartStupefiants1() {
      this.datachartstupefiants1 = {
        labels: ['Les 18-24 ans', 'Le reste'],
        datasets: [{
          label: '18-24',
          backgroundColor: ['#2980b9', '#EEEEEE'],
          borderColor: '#EEEEEE',
          data: [23, 77]
        }]
      }
    },
    fillDataChartStupefiants2() {
      this.datachartstupefiants2 = {
        labels: ['Les 18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24',
            backgroundColor: ['#2980b9', '#EEEEEE'],
            borderColor: '#EEEEEE',
            data: [66, 34]
          },

        ]
      }
    },
    fillDataChartStupefiants3() {
      this.datachartstupefiants3 = {
        labels: ['18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#2980b9', '#EEEEEE'],
            data: [57, 43]
          },

        ]
      }
    },
    fillDataChartAlcool1() {
      this.datachartalcool1 = {
        labels: ['Alcool', 'Le reste'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#27ae60', '#EEEEEE'],

            data: [33, 64]
          }

        ]
      }
    },
    fillDataChartAlcool2() {
      this.datachartalcool2 = {
        labels: ['18-24 ans', 'Le reste'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#e67e22', '#EEEEEE'],
            data: [33, 64]
          }

        ]
      }
    },
    fillDataChartAlcool3() {
      this.datachartalcool3 = {
        labels: ['Responsable', 'Le reste'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',

            backgroundColor: ['#2c3e50', '#EEEEEE'],

            data: [33, 64]
          }

        ]
      }
    },
    fillDataChartVitesse1() {
      this.datachartvitesse1 = {
        labels: ['Accidents mortels'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#e74c3c', '#EEEEEE'],
            data: [26, 74]
          }

        ]
      }
    },
    fillDataChartVitesse2() {
      this.datachartvitesse2 = {
        labels: ['Les Francais'],
        datasets: [{
            label: '18-24 ans',
            borderColor: '#EEEEEE',
            backgroundColor: ['#e74c3c', '#EEEEEE'],
            data: [28, 72]
          }

        ]
      }
    },
    onResize() {
      this.windowSize = {
        x: window.innerWidth,
        y: window.innerHeight
      }
    }

  }
}
</script>
