<template>
<v-card>
  <v-card-title>
    <h3 class="primary--text">Connection</h3>
  </v-card-title>
  <div>
    <img src="../../../static/images/login.png" alt="Connection" style="max-width:35%;height:auto;margin:auto;display:block">
  </div>
  <v-card-text>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="username" label="Nom d'utilisateur" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="password" label="Mot de passe" type="password" :rules="passwordRules" required></v-text-field>
        </v-flex>
        <v-flex xs10 offset-xs2>
          <v-checkbox label="Rester connecté" color="primary" v-model="stayLogged"></v-checkbox>
        </v-flex>
        <v-flex xs2 offset-xs5>
          <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary darken-1" flat @click.native="dismiss()">Fermer</v-btn>
    <v-btn @click.native="login()" color="primary">Connection</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: "login",
  data: function() {
    return {
      username: "",
      emailRules: [
        v => !!v || "un E-mail est requis",
        v =>
        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "l'E-mail doit être valide"
      ],
      password: "",
      passwordRules: [
        v => !!v || "Un mot de passe est requis",
        v => v.length > 5 || "Le mot de passe doit faire au moins 6 caractères"
      ],
      stayLogged: true
    };
  },
  methods: {
    login: function() {
      this.$store.dispatch("load", true).then(() => {
        Http.post('get_token', {
          username: this.username,
          password: this.password
        }).then(res => {
          console.log(res);
          this.$store.dispatch("log", {
            username: this.username,
            token: res.data.token,
            id: res.data.id
          }).then(() => {
            this.$store.dispatch('enterSuccess', {
              message: "Bienvenue !"
            });
            this.$emit('closeConnectionModal');
          })
        }, err => {
          this.$store.dispatch("enterError", {
            message: "Erreur lors de l'authentification"
          })
        })
      })
    },
    dismiss: function() {
      this.$emit("closeConnectionModal");
    }
  },
  computed: {
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    }
  },
  props: ["modalConnection"]
};
</script>

<style scoped>

</style>
