<template>
<v-card>
  <v-card-title>
    <h3 class="primary--text">Inscription</h3>
  </v-card-title>
  <div>
    <img src="../../../static/images/login.png" alt="Connection" style="max-width:35%;height:auto;margin:auto;display:block">

  </div>
  <v-card-text>
    <v-container grid-list-md>
      <v-layout wrap>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.first_name" label="Prénom" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.last_name" label="Nom" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.phone" label="Téléphone" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.username" label="Nom d'utilisateur" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.email" label="E-mail" :rules="emailRules" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="user.password" label="Mot de passe" type="password" required></v-text-field>
        </v-flex>
        <v-flex xs8 offset-xs2>
          <v-text-field v-model="confirmation" label="Confirmer le mot de passe" type="password" required></v-text-field>
        </v-flex>
        <v-flex xs2 offset-xs5>
          <v-progress-circular v-show="loaded" indeterminate color="primary"></v-progress-circular>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card-text>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="primary darken-1" flat @click.native="dismiss()">Fermer</v-btn>
    <v-btn @click.native="register()" color="primary">Inscription</v-btn>
  </v-card-actions>
</v-card>
</template>

<script>
import Http from '../../../config/http-common'

export default {
  name: "register",
  data: function() {
    return {
      user: {
        username: "",
        first_name: "",
        last_name: "",
        email: "",
        password: "",
        phone: ""
      },
      emailRules: [
        v => !!v || "un E-mail est requis",
        v =>
        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "l'E-mail doit être valide"
      ],
      confirmation: "",
      passwordRules: [
        v => !!v || "Un mot de passe est requis",
        v => v.length > 5 || "Le mot de passe doit faire au moins 6 caractères"
      ],
      stayLogged: true
    };
  },
  methods: {
    register: function() {
      this.$store.dispatch("load", true).then(() => {
        Http.post('create_user', this.user).then(res => {
            Http.post('get_token', {
              username: this.user.username,
              password: this.user.password
            }).then(res => {
              this.$store.dispatch("log", {
                username: this.user.username,
                email: this.user.email,
                token: res.data.token
              })
            }).then(res => {
              this.$store.dispatch("enterSuccess", {
                message: 'Bienvenue !'
              });
              this.$emit("closeInscriptionModal");
            })
          }),
          err => {
            this.$store.dispatch("enterError", err);
          }
      });
    },
    dismiss: function() {
      this.$emit("closeInscriptionModal");
    }
  },
  computed: {
    loaded: {
      get() {
        return this.$store.getters.isLoading;
      }
    }
  },
  props: ["modalConnection"]
};
</script>

<style scoped>

</style>
