<template>
<div id="app">
  <v-app light class="grey lighten-3">
    <menu-toolbar-drawer></menu-toolbar-drawer>
    <v-content class="main-content">
      <v-container fluid class="ma-0 pa-0">
        <alerts></alerts>
        <transition name="fadeAway">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>

<script>
import MenuToolbarDrawer from "./components/shared/menu";
import Alerts from "./components/shared/alert";

export default {
  name: "app",
  components: {
    MenuToolbarDrawer,
    Alerts
  },
  created: function() {
    if (this.$store.getters.isConnected) {
      console.log("on a déjà un token");
      this.$store.dispatch('setToken', localStorage.getItem("sandwichToken"));
    }
  }
};
</script>
